md-card {
    max-width: 600px;
}
md-card-title {
    margin-left: 10px;
}
img {
    width: 60px;
    min-width: 60px;
    margin-left: 5px;
}
md-card-content {
    margin-top: 15px;
    margin-bottom: 125px;
}
md-card-footer {
    padding-bottom: 75px;
}

.book-detail {
    display: flex;
    justify-content: center;
    margin: 75px auto;
}