md-card-title,
md-card-content {
    display: flex;
    justify-content: center;
}

.search-container {
    margin-top: 10px;
}

app-book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

